{% extends 'base.html' %}

{% block title %}Henkilötunnisteiden poistajan etusivu{% endblock %}

{% block content %}


<section id="hero">
    <div>
        <div class="hds-hero custom-theme hds-hero--diagonal-koros">
            <div class="hds-hero--with-background__container">
                <div class="hds-hero__content">
                    <div class="hds-hero--with-background__content-columns">
                        <div class="hds-hero__card">
                            <h1 class="hds-hero__title">Henkilötunnisteiden poistaja</h1>
                            <p class="hds-hero__text">
                                Työkalu vapaan tekstin ja csv-tiedostojen käsittelyyn.
                            </p>
<!--                            <a class="hds-button hds-button&#45;&#45;secondary hds-button&#45;&#45;theme-black black-button  button"-->
<!--                               href="#anonymize-csv"><span class="hds-button__label">Aloita</span></a>-->
                        </div>
                        <div class="hds-hero--with-background__empty-column"></div>
                    </div>
                </div>
                <div class="hds-hero--diagonal-koros__koros-aligner">
                    <div class="hds-hero--diagonal-koros__koros-and-background">
                        <div class="hds-hero__koros-container">
                            <div class="hds-koros" style="fill: var(--koros-color);">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="100%" height="85">
                                    <defs>
                                        <pattern id="koros_basic-5" x="0" y="0" width="106" height="85"
                                                 patternUnits="userSpaceOnUse">
                                            <path transform="scale(5.3)"
                                                  d="M0,800h20V0c-4.9,0-5,2.6-9.9,2.6S5,0,0,0V800z"></path>
                                        </pattern>
                                    </defs>
                                    <rect fill="url(#koros_basic-5)" width="100%" height="85"></rect>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hds-hero--with-background__background">
                    <img class="hds-hero__image" src="https://hds.hel.fi/images/homepage/amos58.jpg" aria-hidden="true"
                         alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="content">

    <div class="hds-container content__container">

        <div class="content__main">
            <h2>Tietoa palvelusta</h2>
            <p>Tämä on työkalu henkilötunnisteiden poistoon suomenkielisestä tekstistä. Työkalu mahdollistaa automaattisen henkilötunnistimien, kuten nimien, puhelinnumeroiden ja sosiaaliturvatunnusten tunnistamisen suomalaisessa kontekstissa. Työkalu peittää havaitut tunnisteet kuvaavilla merkinnöillä, esim. "050-12341234" korvataan sanalla PHONENUMBER.</p>
            <p>Tunnisteiden etsintä ei kuitenkaan ole aukotonta, vaan osa käsitellyn tekstin tunnisteista voi jäädä havaitsematta. Lisäksi jotkin ei-tunnisteet voidaan virheellisesti peittää tunnisteina. Tunnisteiden poistaminen pienentää riskiä tunnistaa henkilö tekstin perusteella, mutta ei takaa, että tunnistaminen olisi mahdotonta. Siksi tietosuoja täytyy aina huomioida datan jatkokäsittelyssä ja säilyttämisessä. Palautedatan osalta tarkemmat ohjeet löytyvät <a href="https://forms.office.com/pages/responsepage.aspx?id=wWvrPyLXJkeWbFtYtk33UkHBYhn8EkhHgaLvB5_vJY5UQVQwMDlJSjVCMVhIREtDQlZTQ1BVRURaVy4u&route=shorturl" target="_blank">palauteaineiston pyyntölomakkeelta</a>.
            </p>
            <p>
                Tämä web-työkalu pystyy lukemaan vapaata tekstiä, tekstitiedostoja ja CSV-muodossa olevia tiedostoja. Sovellus ei tallenna eikä lokita mitään käsiteltyjä tietoja.
Työkalu on tarkoitettu tietosuojariskin pienentämiseen tilanteessa, jossa hyödynnetään vapaita tekstejä. Käyttöönotossa on välttämätöntä tehdä tietosuojavaikutusten arviointi ja varmistua, että jäännösriski on hyväksyttävällä tasolla. Palvelusta on laadittu tietosuojan vaikutustenarviointi palautteiden käsittelyn kontekstissa.
            </p>

        </div>
    </div>
</div>

{% endblock %}

